@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Moniqa';
  src: url('/CYR_CT_OP_Emberly Regular [wdth,wght]-VF.ttf') format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/


.bg-hero {
  background-image: url("/bg_hero.jpg");
  background-repeat: no-repeat, repeat;
  background-color: black;
  background-size: cover;
  color: white;
  height: 1104px;
}


.hero-text {
  color: #FFFFFF;
  font-family: Moniqa, serif;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 17.145px;
  text-transform: uppercase;
  padding-top: 58px;
}

.hero-text_bottom {
  color: #FFF;
  font-family: Moniqa, serif;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 17.145px;
  text-transform: uppercase;
}
